<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Momentum.Pm.Api" version="5.17.1.36" targetFramework="net48" />
  <package id="ServiceStack.Common" version="5.10.4" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.10.4" targetFramework="net48" />
  <package id="ServiceStack.Text" version="5.10.4" targetFramework="net48" />
  <package id="SharpGL" version="3.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WinUSBNet" version="2.1.0" targetFramework="net48" />
</packages>